// Hàm có thể dùng lại nhiều lần
@mixin center-left {
    left: 50%;
    transform: translateX(-50%);
}

@mixin animation-hover {
    transition: all 0.3s;
}

@mixin bgd-overlay {
    // background: linear-gradient(45deg, rgba(13, 98, 242, 1), rgba(48, 13, 242, 1.0));
    // background: linear-gradient(45deg, rgb(199, 250, 16), rgb(210, 245, 16));
    background-color: yellow;
    opacity: 0.9;
}

@mixin style-color-text {
    color: black;
}

@mixin style-btn {
    // background-color: rgb(242, 13, 133);
    background-color: rgba(0, 0, 0, 0.925);
    border-radius: 25px;
    padding: 5px 30px;
}

@mixin style-h2 {
    text-align: center;
    line-height: 1.2;
    font-size: 45px;
}

@mixin shadow {
    -webkit-box-shadow: 0px 3px 9px 0px rgba(68, 124, 245, 0.69);
    -moz-box-shadow: 0px 3px 9px 0px rgba(68, 124, 245, 0.69);
    box-shadow: 0px 3px 9px 0px rgba(54, 115, 247, 0.69);
}

@media only screen and(min-width:768px) {
    .wrapper {
        svg {
            fill: yellowgreen;
        }
        .header {
            height: 705px;
            .background-header {
                background-image: url(../img/bgd-hidden.jpg);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center top;
            }
            .bgd-overlay {
                @include bgd-overlay();
            }
            .content-header {
                height: 100%;
                width: 960px;
                margin: 0 auto;
                .navbar {
                    top: 39px;
                }
                .content-text {
                    width: 838px;
                    top: 290px;
                    @include center-left();
                    .heading {
                        h2 {
                            @include style-h2();
                        }
                    }
                    .text {
                        width: 514px;
                        top: 55px;
                        @include center-left();
                        p {
                            text-align: center;
                            line-height: 1.3;
                            font-size: 30px;
                        }
                    }
                }
                .button {
                    @include center-left();
                    top: 450px;
                    .btn {
                        @include style-btn();
                        @include animation-hover();
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                    &.sticky {
                        position: fixed;
                        top: 9px;
                        z-index: 999;
                    }
                }
                .live-chat {
                    @include center-left();
                    top: 465px;
                }
            }
            .shape {
                transform: rotate(-180deg);
            }
        }
        // CONTENT_MAIN
        .content-main {
            .video {
                .shape {
                    display: block;
                    width: 80px;
                    height: 56px;
                    bottom: -28px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
            .main {
                .row {
                    .text {
                        button {
                            @include animation-hover();
                            &:hover {
                                transform: scale(1.05);
                            }
                        }
                    }
                }
                .heading-row {
                    margin-top: 70px;
                    text-align: center;
                    .heading {
                        width: 100%;
                    }
                }
            }
        }
        // FOOTER
        .footer {
            .shape {
                top: -70px;
                transform: rotate(-360deg);
            }
            .bgd-overlay {
                @include bgd-overlay();
            }
            .top {
                height: 500px;
                .background-footer {
                    background-image: url(../img/bgd-hidden.jpg);
                    background-size: auto 100%;
                    background-repeat: repeat;
                    background-position: center center;
                    z-index: -2;
                }
                .content-text {
                    width: 803px;
                    @include center-left();
                    .heading {
                        top: 100px;
                        width: 642px;
                        @include center-left();
                        h2 {
                            @include style-h2();
                        }
                    }
                    .button {
                        @include center-left();
                        top: 220px;
                        .btn {
                            @include style-btn();
                            @include animation-hover();
                            &:hover {
                                transform: scale(1.05);
                            }
                        }
                    }
                    .live-chat {
                        @include center-left();
                        top: 268px;
                    }
                    .menu-top {
                        top: 400px;
                        ul {
                            background-color: black;
                            border-radius: 25px;
                            @include shadow();
                            li {
                                a {
                                    text-transform: uppercase;
                                    font-size: 14px;
                                    @include animation-hover();
                                    &:hover {
                                        color: rgb(141, 137, 137);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .main {
                .heading {
                    text-align: center;
                }
            }
            .bottom {
                nav {
                    ul {
                        li {
                            a {
                                display: block;
                                text-decoration: revert;
                                padding: 20px 5px;
                                font-size: 14px;
                                position: relative;
                                &::after {
                                    position: absolute;
                                    content: "";
                                    display: block;
                                    width: 1px;
                                    height: 15px;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 0;
                                    background-color: black;
                                }
                            }
                            &:last-child {
                                a {
                                    &::after {
                                        height: 0;
                                        width: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}