* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h2 {
  margin-bottom: 0; }

ul {
  margin-bottom: 0 !important; }

p {
  margin-bottom: 0 !important; }

.wrapper .header {
  position: relative; }
  .wrapper .header .background-header {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2; }
  .wrapper .header .bgd-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }
  .wrapper .header .content-header {
    position: relative; }
    .wrapper .header .content-header .background-logo {
      height: 57px;
      width: 142px;
      background-image: url(../img/logo.png);
      background-size: cover;
      background-repeat: no-repeat; }
    .wrapper .header .content-header .nav-header .nav-item .nav-link {
      color: black;
      padding-left: 20px;
      padding-right: 20px; }
      .wrapper .header .content-header .nav-header .nav-item .nav-link.active {
        font-weight: bold; }
      .wrapper .header .content-header .nav-header .nav-item .nav-link.register {
        border: 1px solid black;
        border-radius: 25px;
        font-weight: bold; }
    .wrapper .header .content-header .content-text {
      position: absolute; }
      .wrapper .header .content-header .content-text .heading p {
        color: black;
        font-size: 35px;
        margin-bottom: 0;
        width: 100%;
        display: inline-block;
        font-weight: bold; }
      .wrapper .header .content-header .content-text .text {
        position: absolute;
        width: 100%;
        color: black; }
        .wrapper .header .content-header .content-text .text p {
          margin-bottom: 0; }
    .wrapper .header .content-header .button {
      position: absolute;
      color: black; }
    .wrapper .header .content-header .live-chat {
      position: absolute;
      color: black; }
  .wrapper .header .shape {
    position: absolute;
    width: 100%;
    height: 70px; }
.wrapper .content-main {
  background-color: #f2f9ff; }
  .wrapper .content-main .video {
    -webkit-box-shadow: 2px 12px 14px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 12px 14px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 12px 14px -12px rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    background-color: cyan;
    height: 400px;
    width: 700px;
    z-index: 99; }
    .wrapper .content-main .video .shape {
      position: absolute;
      z-index: 10; }
    .wrapper .content-main .video .content .bgd-video {
      background-image: url(../img/content/bgd-video.jpg); }
    .wrapper .content-main .video .content video {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      border: none;
      outline: none; }
  .wrapper .content-main .top {
    padding-top: 350px;
    text-align: center;
    margin-bottom: 50px; }
    .wrapper .content-main .top .heading h2 {
      text-transform: capitalize; }
    .wrapper .content-main .top .content {
      font-size: 18px; }
  .wrapper .content-main .list-logo {
    width: 952px;
    margin: 0 auto; }
    .wrapper .content-main .list-logo ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none; }
      .wrapper .content-main .list-logo ul li .img-logo {
        display: block;
        height: 58px;
        width: 126px;
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 5px; }
  .wrapper .content-main .main {
    margin-top: 50px; }
    .wrapper .content-main .main .row {
      width: 960px;
      margin: 0 auto;
      position: relative;
      height: 100%; }
      .wrapper .content-main .main .row .content {
        width: 473px; }
        .wrapper .content-main .main .row .content .heading {
          margin-top: 50px;
          margin-bottom: 20px; }
        .wrapper .content-main .main .row .content .text .content-text {
          margin-top: 20px; }
          .wrapper .content-main .main .row .content .text .content-text ul {
            list-style: none; }
            .wrapper .content-main .main .row .content .text .content-text ul li svg {
              display: inline;
              height: 40px;
              width: 40px; }
          .wrapper .content-main .main .row .content .text .content-text button {
            margin-top: 30px;
            border-radius: 25px;
            border: 1px solid black;
            color: black; }
      .wrapper .content-main .main .row.row-bottom .image {
        left: -70px; }
      .wrapper .content-main .main .row.row-bottom .content {
        margin-left: 500px; }
        .wrapper .content-main .main .row.row-bottom .content .text h2 {
          font-size: 20px; }
        .wrapper .content-main .main .row.row-bottom .content nav ul {
          list-style: none;
          display: flex;
          flex-direction: row; }
          .wrapper .content-main .main .row.row-bottom .content nav ul li {
            padding-right: 10px; }
            .wrapper .content-main .main .row.row-bottom .content nav ul li .img-logo {
              background-image: none;
              height: 30px;
              width: 82px;
              background-repeat: no-repeat;
              background-size: cover; }
      .wrapper .content-main .main .row.heading-row.btn-register {
        justify-content: center; }
        .wrapper .content-main .main .row.heading-row.btn-register button {
          border-radius: 25px;
          padding-left: 30px;
          padding-right: 30px;
          border: 1px solid black;
          color: black;
          background-color: white; }
      .wrapper .content-main .main .row.heading-row .group {
        margin: 0 auto;
        padding-top: 30px;
        display: flex;
        flex-direction: row; }
        .wrapper .content-main .main .row.heading-row .group .box {
          margin-left: 15px;
          display: flex;
          flex-direction: row; }
          .wrapper .content-main .main .row.heading-row .group .box .box-radius {
            position: relative;
            height: 60px;
            width: 60px;
            border: 4px solid green;
            border-radius: 50%; }
            .wrapper .content-main .main .row.heading-row .group .box .box-radius p {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); }
          .wrapper .content-main .main .row.heading-row .group .box .text {
            margin-left: 10px;
            display: flex;
            align-items: center;
            font-size: 18px; }
      .wrapper .content-main .main .row.list-image {
        height: 450px;
        flex-direction: row;
        justify-content: center;
        margin-top: 50px; }
        .wrapper .content-main .main .row.list-image .img {
          background-image: none;
          background-size: cover;
          background-repeat: no-repeat;
          width: 198px;
          height: 368px; }
      .wrapper .content-main .main .row .image {
        position: absolute;
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        height: 508px;
        width: 532px;
        left: 472px;
        top: 0; }
.wrapper .footer {
  position: relative; }
  .wrapper .footer .shape {
    position: absolute;
    width: 100%;
    height: 70px; }
  .wrapper .footer .bgd-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1; }
  .wrapper .footer .top {
    position: relative; }
    .wrapper .footer .top .background-footer {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -2; }
    .wrapper .footer .top .content-text {
      position: absolute; }
      .wrapper .footer .top .content-text .heading {
        position: absolute;
        color: black; }
      .wrapper .footer .top .content-text .button {
        position: absolute;
        color: black; }
      .wrapper .footer .top .content-text .live-chat {
        position: absolute;
        color: black; }
      .wrapper .footer .top .content-text .menu-top {
        position: absolute;
        width: 100%; }
        .wrapper .footer .top .content-text .menu-top nav ul {
          display: flex;
          flex-direction: row;
          list-style: none;
          justify-content: center; }
          .wrapper .footer .top .content-text .menu-top nav ul li a {
            color: black;
            text-decoration: none;
            padding: 15px 15px;
            display: block;
            font-weight: bold;
            color: white; }
  .wrapper .footer .main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column; }
    .wrapper .footer .main .heading .logo {
      display: flex;
      justify-content: center; }
      .wrapper .footer .main .heading .logo .background-logo {
        height: 90px;
        width: 225px;
        background-image: url(../img/logo.png);
        background-size: cover;
        background-repeat: no-repeat; }
    .wrapper .footer .main .heading .text {
      color: black;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px; }
    .wrapper .footer .main .content {
      color: black;
      margin-top: 20px;
      text-align: center; }
      .wrapper .footer .main .content .text-address a {
        color: black;
        text-decoration: revert; }
      .wrapper .footer .main .content .text {
        margin-top: 20px; }
        .wrapper .footer .main .content .text p:first-child {
          font-weight: bold;
          text-transform: uppercase;
          font-size: 18px; }
        .wrapper .footer .main .content .text a {
          color: black;
          text-decoration: revert; }
  .wrapper .footer .bottom {
    background-color: #10356f;
    display: flex;
    flex-direction: row; }
    .wrapper .footer .bottom .logo-notify {
      background-image: url(../img/logo.png);
      background-size: cover;
      background-repeat: no-repeat;
      height: 52px;
      width: 137px;
      margin-top: 5px;
      margin-right: 100px;
      margin-left: 150px; }
    .wrapper .footer .bottom nav ul {
      display: flex;
      flex-direction: row;
      list-style: none; }
      .wrapper .footer .bottom nav ul li a {
        color: black; }

/*# sourceMappingURL=home.css.map */
