* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin bgd {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

@mixin bgd-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

@mixin style-color-text {
    color: black;
}

@mixin shadow-video {
    -webkit-box-shadow: 2px 12px 14px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 12px 14px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 2px 12px 14px -12px rgba(0, 0, 0, 0.75);
}

h2 {
    margin-bottom: 0;
}

ul {
    margin-bottom: 0 !important;
}

p {
    margin-bottom: 0 !important;
}

@mixin bgd-logo {
    background-image: url(../img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper {
    .header {
        position: relative;
        .background-header {
            @include bgd();
        }
        .bgd-overlay {
            @include bgd-overlay();
        }
        .content-header {
            position: relative;
            .background-logo {
                height: 57px;
                width: 142px;
                @include bgd-logo();
            }
            .nav-header {
                .nav-item {
                    .nav-link {
                        @include style-color-text();
                        padding-left: 20px;
                        padding-right: 20px;
                        &.active {
                            font-weight: bold;
                        }
                        &.register {
                            border: 1px solid black;
                            border-radius: 25px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .content-text {
                position: absolute;
                .heading {
                    p {
                        @include style-color-text();
                        font-size: 35px;
                        margin-bottom: 0;
                        width: 100%;
                        display: inline-block;
                        // font-weight: normal;
                        font-weight: bold;
                    }
                }
                .text {
                    position: absolute;
                    width: 100%;
                    @include style-color-text();
                    p {
                        margin-bottom: 0;
                    }
                }
            }
            .button {
                position: absolute;
                @include style-color-text();
            }
            .live-chat {
                position: absolute;
                @include style-color-text();
            }
        }
        .shape {
            position: absolute;
            width: 100%;
            height: 70px;
            // top: -10px;
        }
    }
    // CONTENT_MAIN
    .content-main {
        background-color: #f2f9ff;
        .video {
            @include shadow-video();
            position: absolute;
            top: 500px;
            left: 50%;
            transform: translateX(-50%);
            background-color: cyan;
            height: 400px;
            width: 700px;
            z-index: 99;
            .shape {
                position: absolute;
                z-index: 10;
            }
            .content {
                .bgd-video {
                    background-image: url(../img/content/bgd-video.jpg);
                }
                video {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    border: none;
                    outline: none;
                }
            }
        }
        .top {
            padding-top: 350px;
            text-align: center;
            margin-bottom: 50px;
            .heading {
                h2 {
                    text-transform: capitalize;
                }
            }
            .content {
                font-size: 18px;
            }
        }
        .list-logo {
            width: 952px;
            margin: 0 auto;
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style: none;
                li {
                    .img-logo {
                        display: block;
                        height: 58px;
                        width: 126px;
                        background-image: none;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin: 5px;
                    }
                }
            }
        }
        .main {
            margin-top: 50px;
            .row {
                width: 960px;
                margin: 0 auto;
                position: relative;
                height: 100%;
                .content {
                    width: 473px;
                    .heading {
                        margin-top: 50px;
                        margin-bottom: 20px;
                    }
                    .text {
                        .content-text {
                            margin-top: 20px;
                            ul {
                                list-style: none;
                                li {
                                    svg {
                                        display: inline;
                                        height: 40px;
                                        width: 40px;
                                    }
                                }
                            }
                            button {
                                margin-top: 30px;
                                border-radius: 25px;
                                // background-color: black;
                                border: 1px solid black;
                                color: black;
                            }
                        }
                    }
                }
                &.row-bottom {
                    .image {
                        left: -70px;
                    }
                    .content {
                        margin-left: 500px;
                        .text {
                            h2 {
                                font-size: 20px;
                            }
                        }
                        nav {
                            ul {
                                list-style: none;
                                display: flex;
                                flex-direction: row;
                                li {
                                    padding-right: 10px;
                                    .img-logo {
                                        background-image: none;
                                        height: 30px;
                                        width: 82px;
                                        background-repeat: no-repeat;
                                        background-size: cover;
                                    }
                                }
                            }
                        }
                    }
                }
                &.heading-row {
                    .shops-content {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                    // &.btn-register {
                    //     justify-content: center;
                    //     button {
                    //         border-radius: 25px;
                    //         padding-left: 30px;
                    //         padding-right: 30px;
                    //         // background-color: black;
                    //         border: 1px solid black;
                    //         color: black;
                    //         background-color: white;
                    //     }
                    // }
                    // .group {
                    //     margin: 0 auto;
                    //     padding-top: 30px;
                    //     display: flex;
                    //     flex-direction: row;
                    //     .box {
                    //         margin-left: 15px;
                    //         display: flex;
                    //         flex-direction: row;
                    //         .box-radius {
                    //             position: relative;
                    //             height: 60px;
                    //             width: 60px;
                    //             border: 4px solid green;
                    //             border-radius: 50%;
                    //             p {
                    //                 position: absolute;
                    //                 top: 50%;
                    //                 left: 50%;
                    //                 transform: translate(-50%, -50%);
                    //             }
                    //         }
                    //         .text {
                    //             margin-left: 10px;
                    //             display: flex;
                    //             align-items: center;
                    //             font-size: 18px;
                    //         }
                    //     }
                    // }
                }
                &.list-image {
                    height: 450px;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: 50px;
                    .img {
                        background-image: none;
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 198px;
                        height: 368px;
                    }
                }
                .image {
                    position: absolute;
                    background-image: none;
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 508px;
                    width: 532px;
                    left: 472px;
                    top: 0;
                }
            }
        }
    }
    // FOOTER
    .footer {
        // margin-top: 150px;
        position: relative;
        .shape {
            position: absolute;
            width: 100%;
            height: 70px;
            // top: -10px;
        }
        .bgd-overlay {
            @include bgd-overlay();
        }
        .top {
            position: relative;
            .background-footer {
                @include bgd();
            }
            .content-text {
                position: absolute;
                .heading {
                    position: absolute;
                    @include style-color-text();
                }
                .button {
                    position: absolute;
                    @include style-color-text();
                }
                .live-chat {
                    position: absolute;
                    @include style-color-text();
                }
                .menu-top {
                    position: absolute;
                    width: 100%;
                    nav {
                        ul {
                            display: flex;
                            flex-direction: row;
                            list-style: none;
                            justify-content: center;
                            li {
                                a {
                                    @include style-color-text();
                                    text-decoration: none;
                                    padding: 15px 15px;
                                    display: block;
                                    font-weight: bold;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .main {
            display: flex;
            justify-content: center;
            margin-top: 50px;
            flex-direction: column;
            .heading {
                .logo {
                    display: flex;
                    justify-content: center;
                    .background-logo {
                        height: 90px;
                        width: 225px;
                        @include bgd-logo();
                    }
                }
                .text {
                    @include style-color-text();
                    text-transform: uppercase;
                    font-size: 20px;
                    font-weight: bold;
                    margin-top: 20px;
                }
            }
            .content {
                @include style-color-text();
                margin-top: 20px;
                text-align: center;
                .text-address {
                    a {
                        @include style-color-text();
                        text-decoration: revert;
                    }
                }
                .text {
                    margin-top: 20px;
                    p:first-child {
                        font-weight: bold;
                        text-transform: uppercase;
                        font-size: 18px;
                    }
                    a {
                        @include style-color-text();
                        text-decoration: revert;
                    }
                }
            }
        }
        .bottom {
            background-color: rgb(16, 53, 111);
            display: flex;
            flex-direction: row;
            .logo-notify {
                @include bgd-logo();
                height: 52px;
                width: 137px;
                margin-top: 5px;
                margin-right: 100px;
                margin-left: 150px;
            }
            nav {
                ul {
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    li {
                        a {
                            @include style-color-text();
                        }
                    }
                }
            }
        }
    }
}